body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;

}

p{
    color: #676770;
    line-height: 1.8;
}

.header {
    padding: 20px 0;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 8px rgba(0,0,0, 0.1);
    //height: 60px;

}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 25px;
    color:#69B9FF;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 25%); //смещение х, смещение у, радиус размытия, цвет
    letter-spacing: 4px;
   

}
// @mixin li($cols, $padding) {
//     width: 183px;
//     height: 60px;
//     width: ((100% - (($cols -1) * $padding)) / $cols);
    
   
    
    //
    // li{
    //     color:#676770;
    //     font-size: 16px;
    //     display: inline;
    //     // padding: 3px;
    //     // justify-content: center;
    //     transition: color 0.2s;
    //     :hover {
    //         color:#0082f3;
    //     }
    //     :active{
    //         color: #114e83;
    //     }
    // }

// }
.header__nav{
//    padding-left: 613px;
    // width: 183px;
    // height: 60px;
    
   
    
    //
    li{
        color:#676770;
        font-size: 16px;
        display: inline;
        // padding: 3px;
        // justify-content: center;
        transition: color 0.2s;
        :hover {
            color:#0082f3;
        }
        :active{
            color: #114e83;
        }
        +li{
            margin-left: 40px;
        }
    }
   
}
.main{

}

.welcome{
    min-height:600px;
    height: 100vh;
    display: flex;
    justify-content: center;//по главной оси
    text-align: center;//по поперечной оси
    align-items: center;//по ввертикально    оси

    color:#fff;

    background-color: #114e83;
    background-image: url("../img/image1.jpeg");
    background-size: cover;
    background-position: center;
        
    

}
// .main__container{
//     display: flex;
// }
.welcome__heading{
    //top: -11px;

   
    font-size: 59px;
    line-height: 60px;
    /* identical to box height, or 102% */
    
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    padding-bottom: 17%;
}
.welcome__links{
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    text-align: center;
    letter-spacing: 2px;//расстояние между буквами
    text-transform: uppercase;
    > * + *{
        margin-left: 20px;
    }

}
.link-primary{
    
    // border: 1px solid #fff;
    padding: 11px 30px 13px 30px;
    background-color:  #69B9FF;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover{
        background-color:#99ccf9;
    }
    &:active{
        background-color:#3ca4ff;
    }

}
.link{
    display: inline-block;
    border: 1px solid #fff;
    padding: 11px 30px 13px 30px;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    text-align: center;
    letter-spacing: 2px;//расстояние между буквами
    text-transform: uppercase;
    &:hover{
        background-color:rgba(255, 255,255,0.2);
        border-color: rgba(255, 255,255,0.5);
    }
    &:active{
        background-color:rgba(0, 0,0,0.2);
        border-color: rgba(0, 0,0,0.5);
    }
    
}


// ABOUT (WHAT WE DO)


.about{

} 
.common-section{
    padding: 80px 0;
    text-align: center;
}
.title-wrapper{
    margin-bottom: 60px;

}
.title{
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #676770;
    font-size: 30px;
    line-height: 36px;

}
.subtitle{
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 118% */

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #8E8E9C;

}
.about .card-wrapper{
    display: flex;
    justify-content: center;
    // flex-wrap: wrap;//перенос дивов
    // gap: 20px;//отступы
   
    
    


    >*{
        margin-left: 20px;
    }

}
.about .card{
    border: 1px solid #DCEBF7;
    padding: 36px 23px;
    border-radius: 5px;
    h4{
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;

    color: #676770;
    }
    p{
    font-size: 14px;
    line-height: 25px;
    /* or 179% */

    text-align: center;

    color: #6A859C;
    }
    img{
        width: 94px;
        height: 94px;
    }
}

.common-section--dark{
    background-color: #192024;
    *{
        color: #fff;
    }
    .subtitle{
    color:#E8E8E8;
    }
}
.services{
    // background-color: #0000;
    // min-height: 850px;

}
.services .card{
    width: 45%;
    h4{
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */
    
        text-align: center;
        letter-spacing: 7px;
        text-transform: uppercase;
    
       
        }
        .link{
            margin-top: 17px;
        }
       
}
 .card-wrapper{
    display: flex;
    justify-content: center;
   
    
    


    >*+*{
        margin-left: 40px;
    }
}



.tabs{

}
.tabs__nav{
 button{
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #92A0AD;
    border-radius: 4px;
    margin-bottom: 52px;
    padding: 1px 30px;
    border: none;
    
    
 }
 >*+*{
    margin-left: 16px;
}

 .active{
    background-color: #2E80B6;
}
}

.tabs__item{
    h4{
    font-size: 31px;
    line-height: 36px;
    

    text-align: center;

    color: #676770;
    }
}
.tabs__desc{
    max-width: 800px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 25px;
   
    
    text-align: center;
    
    color: #6A859C;
}


//FOOTER
.footer__container{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    
    //width: 300px;
    > * {
        width: 30%;
        
    }
    ul{
        padding-left: 0;
        li{
        
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */


        color: #668CAD;
        padding-bottom: 11px;
        padding-top: 5px;
        }
    }
}
.footer__desc{
   
    // text-align: center;
    padding-left: 0;
    
    h4{
    font-size: 18px;
    line-height: 20px;
    

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #676770;
    margin-bottom: 25px;
    }
    li {
        position: relative;
        ::before{
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            background-color: #D5D5E0;
            margin-top: -5px;
            right:0;
            bottom: 0;
            

        }
    }

}
.footer__about{
    
}
.footer__links{
    margin-right: 10px;
  
}
.footer__social{
    li{
        ::before{
        //    width: calc(100% - 30px);
        width: 90%;
        }
    }
   img{
    width: 20px;
    height: 20px;
    object-fit: contain;//чтобы картинка вся поместилась 
    padding-right: 10px;
   }
}
.footer__copy{
    background-color: #192024;
    height: 100px;
    text-align: center;
    align-items: center;
    // justify-content: center;
    display: flex;
    
    p{
        color:#9E9E9E;
        
    }
}

@media (max-width: 400px) {
    .header__nav li+li{
        margin-left: 15px;
    
    }   
    .welcome__links .link{
        display: block;
        margin-top: 40px;
        margin-left: 0;
    }
    .about .card{
        margin-left: 0;
    }
    .services .card{
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .services .card-wrapper{
        display: block;
      
        // margin: 0 auto;
        // text-align: center;
    }
    .tabs__nav > * + * {
        margin-left: 0;
        margin-bottom: 0;

    }
    .tabs__nav button{
        margin-bottom: 10px;
    }

}
@media (max-width: 750px){
.about .card-wrapper{
    // display: flex;
    // justify-content: center;
    flex-wrap: wrap;//перенос дивов
    gap: 20px;//отступы
}
}